<div class="jumbotron mt-4">
<h1 class="display-4">Aplicacion de Notas NodeJS y MongoDB</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum recusandae molestiae reprehenderit ullam error autem omnis maiores sapiente, accusantium quasi minima exercitationem cum repudiandae obcaecati excepturi aliquid veritatis delectus dolore!</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam nesciunt error quae neque? Minima sequi praesentium soluta porro commodi mollitia excepturi consequuntur quas aliquid ducimus unde, velit cum quisquam necessitatibus.</p>
<a href="/users/singin" class="btn btn-primary btn-lg">SingIn</a>
</div>